{% include 'AdministradorBundle:Default:adminHeader.html.twig' %}

{% block body -%}
    
     <head>
    <style>
      #map-canvas {
        width: 500px;
        height: 400px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{{ asset('bundles/googlemaps/js/maps.js') }}"></script> 
    <script>
        
    function camCoordenadas(marker){
        var LatLong=marker.getPosition();
        var latitud=LatLong.lat();
        var longitud=LatLong.lng();
        
        var latnum=latitud.toString();
        var lngnum=longitud.toString();
       
        document.getElementById('lat').value=latnum.substr(0,8);
        document.getElementById('lng').value=lngnum.substr(0,10);
        
      
        
     }
      function initialize() {
         var lat = {{ entity.latitud }};
         var long ={{ entity.longitud }};

         var myLatLng= new google.maps.LatLng(lat,long);
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(lat, long),
          zoom: 18,
         mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        
        var marker = new google.maps.Marker({
            position: myLatLng,
            draggable: true,
            title:'{{ entity.nombre }}',
            map: map,
            animation: google.maps.Animation.DROP,

        });
      

       google.maps.event.addListener(marker, 'dragend', function(){
        camCoordenadas(marker);
    });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
    
     <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                   <li ><a href="{{url('ainicio')}}">Inicio</a></li>
                    
                    <li class="active"><a href="{{url('sitio')}}">Sitios turísticos</a></li>
                    <li><a href="{{url('rutasugerida')}}">Rutas</a></li>
                    
                    <li><a href="contactenos.html">Salir</a></li>                    
                </ul>
            </div>

        </div>
    </header><!--/header-->

     <!-- Título de página -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Editar Sitio</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- Fin Título de página --> 
   
   <div class="container">
     <div class="col-md-6">
        <form role="form" method="POST" enctype="multipart/form-data" action="{{ path('editarSitio') }}">
           <table class="table table-bordered table-striped table-condensed" style="width: 500px;">

                       
                        <tbody>
                        <input type="text" name="id" value="{{ entity.id }}" hidden="true" style="width: 250px;">
                            <tr>
                                <th style="width: 100px;"> Nombre</th>
                                <td> <input type="text" name="nombre" value="{{ entity.nombre }}" style="width: 250px;"></td>
                            </tr>
                             
                            <tr>
                                <th style="width: 100px;"> Descripcion</th>
                                <td><textarea rows="4" cols="20" style="width: 250px;"  name="descripcion">{{ entity.descripcion }}</textarea></td>
                            </tr>
                            <tr>
                                <th style="with:100px;">Latitud</th>
                                <td><input name="lati" id="lat" value="{{entity.latitud}}"/>
                            </tr>
                            <tr>
                                <th style="with:100px;">Longitud</th>
                                <td><input name="longi" id="lng" value="{{entity.longitud}}"/>
                            <tr/>
                            <tr>
                                <th style="width: 100px;">Precio</th>
                                <td><input name="precio" value="{{ entity.precio }}" ></td>
                            </tr>
                            
                             <tr>
                                <th style="width: 100px;"> Provincia</th>
                                <td> <select id="selectError" data-rel="chosen" class="form-control" name="provincia" style="width: 250px;">
                                                                    <option></option>
                                                                    <option value="1" selected>San José</option>
                                                                    <option value="2">Alajuela</option>
                                                                    <option value="3">Cartago</option>
                                                                    <option value="4">Heredia</option>
                                                                    <option value="5">Puntarenas</option>
                                                                    <option value="6">Guanacaste</option>
                                                                    <option value="7">Limón</option>                       					
                                                                </select></td>
                            </tr>
                            <tr>
                                <th style="width: 100px;"> Actividad</th>
                                <td>   <select  class="form-control" id="selectError" data-rel="chosen" name="actividad" style="width: 250px;">
                                                                    <option></option>
                                                                    
                                                                    
                                                                    <option value="1" selected>Ciudad</option>
                                                                    <option value="2">Rural</option>
                                                                    <option value="3">Aventura</option>
                                                                    <option value="4">Extremo</option>
                                                                    <option value="5">Ecologico</option>
                                                                    <option value="6">Familiar</option>
                                                                </select></td>
                            </tr> 
                          
                            <tr>
                                <th style="width: 100px;"> Imagen</th>
                                <td>
                                      <div class="col-md-12 col-sm-19">
                                {% set foo ='imagenes_sitios/' ~ entity.imagen %}    
                                <img src="{{asset(foo)}}" alt="one" height="150px" width="200px">
                                 </div> 
                                    <input type="file" id="fileID" class="form-control"  name="archivo" />

                                    </td>
                            </tr>
                            
                        </tbody> 
                        <!-- Botones -->
           </table>
                            <center>
                               <table>
                                        <tr>

                                            <td style="width: 80px;"> 
                                              <button class="btn btn-primary btn-sm">Actualizar</button>
                                           </td> 

                                             
                                            <td style="width: 60px;">  <a href="{{ path('sitio') }}" class="btn btn-primary btn-sm">
                                                    Volver
                                                </a>
                                            </td>
                                            
                                            <td style="width: 80px;"> 
                                                
                                            </td>
                                                

                                        </tr>
                                    </table>
                                                <input type="text" name="latitud" hidden="true" />
                                                 <input type="text" name="longitud" hidden="true" />
                            </center>
        </form>
     </div>
                <!-- Mapa -->                                 
     <div class ="col-md-5" id="map-canvas">
     </div>
                 <!-- Fin mapa -->
   </div>
            
{% endblock %}
{% include 'AdministradorBundle:Default:adminFooter.html.twig' %}