{# empty Twig template #}

	    <!-- Footer -->
	 <footer>
	    <div class="footer">
	    	<div class="container">
			
		    	<div class="row">
				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contáctenos</h3>
		    			<p class="contact-us-details">
	        				<b>Dirección:</b> San José, Costa Rica<br/>
	        				<b>Teléfono:</b> +(506) 22243462<br/>
	        				<b>Fax:</b> +(506) 45678910<br/>
	        				<b>Email:</b> <a href="mailto:info@rutica.com">info@rutica.com</a>
	        			</p>
		    		</div>				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Redes Sociales</h3>
						<p>Puedes seguirnos y contactarnos en nuestras redes sociales y aprovechar de exclusivas promociones.</p>
		    			<div>
		    				<img src="{{ asset('bundles/templateboostrap/img/icons/facebook.png') }}" width="32" alt="Facebook">
		    				<img src="{{ asset('bundles/templateboostrap/img/icons/twitter.png') }}" width="32" alt="Twitter">
		    				<img src="{{ asset('bundles/templateboostrap/img/icons/linkedin.png') }}" width="32" alt="LinkedIn">							
						</div>
		    		</div>
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Sobre Rutica</h3>
		    				<p>Somos una empresa comprometida con los turistas, empresarios, organizaciones con el fin del que Costa Rica se promocione y se proyecte más en el mundo.</p>
		    		</div>

		    	</div>		    	
		    </div>
	    </div>
	</footer>

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{asset('bundles/templateboostrap/js/jquery-1.9.1.min.js')}}"><\/script>')</script>
        <script src="{{asset('bundles/templateboostrap/js/bootstrap.min.js')}}"></script>
	<script src="{{asset('bundles/templateboostrap/js/bootstrap-table.js')}}"></script>

		<!-- Scrolling Nav JavaScript -->
		<script src="{{asset('bundles/templateboostrap/js/jquery.easing.min.js')}}"></script>
		<script src="{{asset('bundles/templateboostrap/js/scrolling-nav.js')}}"></script>		

    </body>
</html>
