{# empty Twig template #}
{% include 'AdministradorBundle:Default:adminHeader.html.twig' %}


<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="{{url('ainicio')}}">Inicio</a></li>

        <li ><a href="{{url('sitio')}}">Sitios turísticos</a></li>
        <li ><a href="{{url('rutasugerida')}}">Rutas</a></li>

        <li><a href="contactenos.html">Salir</a></li>                    
    </ul>
</div>

</div>
</header><!--/header-->
<br><br>




<!-- Sección de los nuevos sitios turísticos -->	

<div class="section section-white">
    <div class="container">
        <div class="row">
            <br><br>
            <div class="section-title">
                <h1>Últimos sitios turísticos ingresados</h1>
            </div>


            <ul class="grid cs-style-2"> 
                {% for entity in ultimoSitios %}
                    <div class="col-md-4 col-sm-6">
                        <figure>
                            {% set foo ='imagenes_sitios/' ~ entity.imagen %}   

                            <img src="{{asset(foo)}}" alt="" height="250px" width="400px" href="#ventanaModalDescripcionSitio" data-toggle="modal" data-test="{{ entity.imagen }}" 
                                 data-desc="{{ entity.descripcion }}" data-nombre="{{ entity.nombre }}" data-provincia="{{ entity.id_provincia }}"
                                 data-actividad="{{ entity.id_actividad }}" data-id="{{ entity.id }}"/>

                            <figcaption>
                                <h3>{{ entity.nombre }}</h3>
                                {% if entity.id_provincia==1 %}
                                    <span>San José</span><br>
                                {% endif %}
                                {% if entity.id_provincia==2 %}
                                    <span>Alajuela</span><br>
                                {% endif %}
                                {% if entity.id_provincia==3 %}
                                    <span>Cartago</span><br>
                                {% endif %}
                                {% if entity.id_provincia==4 %}
                                    <span>Heredia</span><br>
                                {% endif %}
                                {% if entity.id_provincia==5 %}
                                    <span>Puntarenas</span><br>
                                {% endif %}
                                {% if entity.id_provincia==6 %}
                                    <span>Guanacaste</span><br>
                                {% endif %}
                                {% if entity.id_provincia==7 %}
                                    <span>Limón</span><br>
                                {% endif %}
                            </figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% include 'AdministradorBundle:Default:adminFooter.html.twig' %}