{# empty Twig template #}
{% include 'AdministradorBundle:Default:adminHeader.html.twig' %}
 <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{url('ainicio')}}">Inicio</a></li>
                    
                    <li ><a href="{{url('sitio')}}">Sitios turísticos</a></li>
                    <li ><a href="{{url('rutasugerida')}}">Rutas</a></li>
                    
                    <li><a href="contactenos.html">Salir</a></li>                    
                </ul>
            </div>

        </div>
    </header><!--/header-->
    <br><br>
    
<!-- Sección de los nuevos sitios turísticos -->	

<div class="section section-white">
    <div class="container">
        <div class="row">
            <br><br>
            <div class="section-title">
                <h1>Últimos sitios turísticos ingresados</h1>
            </div>


            <ul class="grid cs-style-3">
                <div class="col-md-4 col-sm-6">
                    <figure>
                        <img src="{{asset('bundles/templateboostrap/img/sitios/1.jpg')}}" alt="" />
                        <figcaption>
                            <h3>Bosque nuboso</h3>
                            <h3>monteverde</h3>
                            <span>Puntarenas</span>							
                            <a href="#ventanaModalDescripcionSitio" class="btn btn-primary" data-toggle="modal">Visítalo</a>
                        </figcaption>
                    </figure>
                </div>	
                <div class="col-md-4 col-sm-6">
                    <figure>
                        <img src="{{asset('bundles/templateboostrap/img/sitios/2.jpg')}}" alt="" />
                        <figcaption>
                            <h3>Playa Nosara</h3>
                            <span>Guanacaste</span>
                            <a href="#ventanaModalDescripcionSitio" class="btn btn-primary" data-toggle="modal">Visítalo</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-6">
                    <figure>
                        <img src="{{asset('bundles/templateboostrap/img/sitios/3.jpg')}}" alt="" />
                        <figcaption>
                            <h3>Parque Nacional</h3>
                            <h3>Marino Ballena</h3>
                            <span>Puntarenas</span>
                            <a href="#ventanaModalDescripcionSitio" class="btn btn-primary" data-toggle="modal">Visítalo</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-6">
                    <figure>
                        <img src="{{asset('bundles/templateboostrap/img/sitios/4.jpg')}}" alt="" />
                        <figcaption>
                            <h3>Parque Recreativo</h3>
                            <h3>Los Chorros</h3>
                            <span>Alajuela</span>
                            <a href="#ventanaModalDescripcionSitio" class="btn btn-primary" data-toggle="modal">Visítalo</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-6">
                    <figure>
                        <img src="{{asset('bundles/templateboostrap/img/sitios/5.jpg')}}" alt="" />
                        <figcaption>
                            <h3>Parque Nacional Tortuguero</h3>
                            <span>Limón</span>
                            <a href="#ventanaModalDescripcionSitio" class="btn btn-primary" data-toggle="modal">Visítalo</a>

                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-6">
                    <figure>
                        <img src="{{asset('bundles/templateboostrap/img/sitios/6.jpg')}}" alt="" />
                        <figcaption>
                            <h3>Playa Cocal</h3>
                            <span>Puntarenas</span>
                            <a href="#ventanaModalDescripcionSitio" class="btn btn-primary" data-toggle="modal">Visítalo</a>
                        </figcaption>
                    </figure>
                </div>
            </ul>
        </div>
    </div>
</div>

    
{% include 'AdministradorBundle:Default:adminFooter.html.twig' %}