{# Se extiende de la plantilla base de nuestra aplicacion ubicada en el bundle Rutas #}
{% extends 'RutasBundle:Base:header.html.twig' %}

{# Se edita el bloque del título de la plantilla base #}
{% block title %}
	Rutica - Crea tus rutas
{% endblock %}

{# Se edita el body manteniendo la estructura heredada #}
{% block body %}

  {{ parent() }}{# conserva lo que se heredó #}

	{# Título de página #} 
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Crea tus rutas</h1>
					</div>
				</div>
			</div>
		</div>
	{# Título de página #}

	<div class="section">
	    <div class="container">

			<div class="row">

				<div class="col-md-8">

                	<div class="section-title" >
                        <h2>Elije las preferencias de su ruta</h2>
                        <br>
                    </div>

                    {# Formulario de las preferencias de la ruta #}
                	<form class="form-horizontal">

                		{# Select de Provincia #}
     					<div class="form-group">
        					<label for="provincia" class="col-sm-2 control-label">Provincia</label>
         					<div class="col-sm-6">
            					<select id="provincia" class="form-control">
            						<option></option>
            						<option>San José</option>
  									<option>Alajuela</option>
  									<option>Heredia</option>
  									<option>Cartago</option>
  									<option>Puntarenas</option>
  									<option>Guanacaste</option>
  									<option>Limón</option>                       					
                    			</select>
         					</div>
     					</div>
     					{# Select de Provincia #}

     					{# Select de Actividad #}
     					<div class="form-group">
     						<label for="actividad" class="col-sm-2 control-label">Actividad</label>
         					<div class="col-sm-6">
            					<select id="actividad" class="form-control">
            						<option></option>
            						<option>Montaña</option>
  									<option>Playa</option>
  									<option>Extremo</option>
  									<option>Ciudad</option>
  									<option>Rural</option>						                       					
                    			</select>
         					</div>         						
     					</div>
     					{# Select de Actividad #}

     					{# Select de Precio #}
     					<div class="form-group">
     						<label for="precio" class="col-sm-2 control-label">Precio</label>
         					<div class="col-sm-6">
            					<select id="precio" class="form-control">
            						<option></option>
            						<option>Económico</option>
  									<option>Medio</option>
  									<option>Pura Vida</option>					                       					
                    			</select>
         					</div>         						
     					</div>
     					{# Select de Precio #} 

     					{# Botón de Buscar #}
     					<div class="form-group">
     						<label for="buscar" class="col-sm-1 control-label"></label>
                                                <div class="col-sm-6">     						
                                                    <button id="buscar" type="button" class="btn btn-primary" data-toggle="modal">Buscar</button>
                                                </div>
                                        </div>   						
   						{# Botón de Buscar #}
   							 
					</form>
					{# Formulario de las preferencias de la ruta #}

                </div>				

                <div class="col-md-4">

                	<div class="section-title">
                   		<h2><i class="glyphicon glyphicon-map-marker"></i>  Pasos para crear tu ruta</h2>
                    	<br>
                	</div>

                	<ul>
                		<li>Completa el formulario de la derecha con los detalles de los lugares que deseas incorporar para crear tu ruta personalizada</li>
                		<li> Elije un punto de inicio y fin para tu ruta </li>
                		<li> Selecciona los lugares intermedios de tu ruta que deseas conocer </li>
                		<li> Dale click a botón de generar ruta </li>
                		<li> Verifica los detalles de tu ruta en el mapa de la izquiera </li>
                		<li> Listo tienes tu ruta, ya puedes empezar a turistear </li>
                	</ul>

                </div>           

			  <div class="row">							


          <div class = "col-md-8">

            <div class="section-title">
              <h2><i class="glyphicon glyphicon-map-marker"></i>  Pasos para crear tu ruta</h2>
              <br>
            </div>

            <ul>
              <li> Completa el formulario de la derecha con las características de los lugares que se añadiran en tu ruta</li>
              <li> Selecciona un punto de inicio y final para tu ruta en el formulario a la derecha del mapa</li>
              <li> Selecciona los puntos por donde deseas que pase la ruta </li>
              <li> Cuando termines de agregar lugares a tu ruta, presiona el botón, gerear ruta al final del formulario </li>
              <li> Verifica los detalles de tu ruta en el mapa</li>
              <li> Listo ya tienes tu ruta, ya puedes empezar a turistear </li>
            </ul>

          </div>

          <div class = "col-md-4">

            <div class="section-title" >
              <h3>Elije las preferencias de su ruta</h3>
              <br>
            </div>

            {# Formulario de las preferencias de la ruta #}
            <form class="form-horizontal" action="{{ path('crea_tus_rutas') }}" method="post">

              {# Select de Provincia #}
              <div class="form-group">
                <label style="text-align: center;" for="provincia" class="col-sm-4 control-label">Provincia:</label>
                <div class="col-sm-6">
                  <select id="provincia" name="provincia" class="form-control">                    
                    <option>San José</option>
                    <option>Alajuela</option>
                    <option>Heredia</option>
                    <option>Cartago</option>
                    <option>Puntarenas</option>
                    <option>Guanacaste</option>
                    <option>Limón</option>                                
                  </select>
                </div>
              </div>
              {# Select de Provincia #}

              {# Select de Actividad #}
              <div class="form-group">
                <label style="text-align: center;" for="actividad" class="col-sm-4 control-label">Actividad:</label>
                <div class="col-sm-6">
                  <select id="actividad" name="actividad" class="form-control">                    
                    <option>Ciudad</option>
                    <option>Rural</option>
                    <option>Aventura</option>
                    <option>Extremo</option>                    
                    <option>Ecológico</option>
                    <option>Familiar</option>                                            
                  </select>
                </div>                    
              </div>
              {# Select de Actividad #}

              {# Select de Precio #}
              <div class="form-group">
                <label style="text-align: center;" for="precio" class="col-sm-4 control-label">Precio:</label>
                  <div class="col-sm-6">
                    <select id="precio" name="precio" class="form-control">                      
                      <option>Económico</option>
                      <option>Medio</option>
                      <option>Pura Vida</option>                                          
                    </select>
                  </div>                    
              </div>
              {# Select de Precio #} 

              {# Botón de Buscar #}
              <div class="form-group">
                <label for="buscar" class="col-sm-1 control-label"></label>
                <div class="col-sm-6">                 
                  <button id="buscar" type="submit" class="btn btn-primary" data-toggle="modal">Buscar</button>
                </div>
              </div>              
              {# Botón de Buscar #}
                 
            </form>
            {# Formulario de las preferencias de la ruta #}
          </div>

        </div>

        {% if sitios is defined %}
        <hr>{# Separador #}

        <div class="row">                    

            <div class="col-md-6" id="main-map" style="width: 700px; height: 400px"></div> 

            <div class="col-md-4">

              <div class="section-title" >
                <h3>Sitios de la ruta</h3>
                <br>
              </div>            

                {# Select de Inicio #}
                <div class="form-group">
                  <label style="text-align: center;" for="inicio" class="col-sm-4 control-label">Inicio:</label>
                    <div class="col-sm-6">
                      <select id="inicio" name="inicio" class="form-control">
                        {% for sitio in sitios %}                      
                          <option value="{{ sitio.nombre }}">{{ sitio.nombre }}</option>                         
                        {% endfor %}                                          
                      </select>
                    </div>                    
                </div>
                {# Select de Inicio #}

                {# Select de Sitios #}
                <div class="form-group">
                  <label style="text-align: center;" for="sitios" class="col-sm-4 control-label">Sitios:</label>             
                    <div class="col-sm-6">
                      <select multiple id="sitios" name="sitios" class="form-control">
                        {% for sitio in sitios %}                      
                          <option value="{{ sitio.nombre }}">{{ sitio.nombre }}</option>                         
                        {% endfor %}                                          
                      </select>
                      <i>(Ctrl-Click para selección múltiple)</i> <br>
                    </div>                    
                </div>
                {# Select de Sitios #}

                {# Select de Final #}
                <div class="form-group">
                  <label style="text-align: center;" for="final" class="col-sm-4 control-label">Final:</label>
                    <div class="col-sm-6">
                      <select id="final" name="final" class="form-control">
                        {% for sitio in sitios %}                      
                          <option value="{{ sitio.nombre }}">{{ sitio.nombre }}</option>                         
                        {% endfor %}                                          
                      </select>
                    </div>                    
                </div>
                {# Select de Final #}

                {# Botón de Buscar #}
                <div class="form-group">
                  <label for="buscar" class="col-sm-1 control-label"></label>
                  <div class="col-sm-6">                 
                    <input value ="Crear ruta" type="submit" class="btn btn-primary" data-toggle="modal" onclick="generateRoute();"></input>
                  </div>
                </div>              
                {# Botón de Buscar #}             

            </div>    

        </div>
        {% endif %}

      </div>      
  </div>
        </div>
	{# Footer #}
		{# se hace un include del archivo donde se encuentra el footer #}	
		{% include 'RutasBundle:Base:footer.html.twig' %} 	
	{# Footer #} 

{% endblock %}