{# Se extiende de la plantilla base de nuestra aplicacion ubicada en el bundle Rutas #}
{% extends 'RutasBundle:Base:header.html.twig' %}

{# Se edita el bloque del título de la plantilla base #}
{% block title %}
	Rutica - Rutas Sugeridas
{% endblock %}

{# Se edita el body manteniendo la estructura heredada #}
{% block body %}

  {{ parent() }}{# conserva lo que se heredó #}

	{# Título de página #} 
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Rutas sugeridas</h1>
					</div>
				</div>
			</div>
		</div>
	{# Título de página #} 

	<div class="section">
	    <div class="container">
			<div class="row">
				<div class="col-sm-6">

					{# Tabla de rutas sugeridas #}
					
						<table class="table table-hover" data-toggle="table" data-search="true" style="width:100%">

   							<thead>
   								<tr>
        							<th data-field="id">Id</th>
        							<th data-field="nombre">Nombre</th>
        							<th data-field="distancia">Distancia</th>
        							<th data-field="precio">Precio</th>
       								<th data-field="provincia">Provincia</th>
       								<th data-field="tiempo">tiempo</th>
    							</tr>
    						</thead>

    						<tbody>
    							
    							<tr>
    								<td>{{ ruta1.id }}</td>
    								<td>{{ ruta1.nombre }}</td>
    								<td>{{ ruta1.distancia }}</td>
    								<td>{{ ruta1.precio }}</td>
    								<td>{{ ruta1.provincia }}</td>
    								<td>{{ ruta1.tiempo }}</td>
    							</tr>
    							
    							<tr>
    								<td>{{ ruta2.id }}</td>
    								<td>{{ ruta2.nombre }}</td>
    								<td>{{ ruta2.distancia }}</td>
    								<td>{{ ruta2.precio }}</td>
    								<td>{{ ruta2.provincia }}</td>
    								<td>{{ ruta2.tiempo }}</td>
    							</tr>
    							    							
    						</tbody>
						</table>					
					
					{# Tabla de rutas sugeridas #}

				</div>

				<div class="col-sm-4">
                    <!-- Mapa -->
						<iframe src="https://www.google.com/maps/embed?pb=!1m34!1m12!1m3!1d7859.933826055709!2d-84.07980560988867!3d9.936710986346734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m19!3e0!4m5!1s0x8fa0e366d24d3d1b%3A0x86bd02c7707db21e!2sTeatro+Nacional+de+Costa+Rica%2C+San+Jos%C3%A9!3m2!1d9.933129!2d-84.076942!4m5!1s0x8fa0e4aabcf16c1f%3A0x9968a5c10a33d6eb!2sMuseo+Nacional+de+Costa+Rica%2C+Cuesta+de+Moras%2C+San+Jos%C3%A9!3m2!1d9.932602!2d-84.071015!4m5!1s0x8fa0e4a028084f77%3A0xe474e090ba7dc78f!2sMuseo+de+los+ni%C3%B1os+de+costa+rica%2C+San+Jos%C3%A9!3m2!1d9.941272!2d-84.080326!5e0!3m2!1ses!2scr!4v1432659181123" width="600" height="450" frameborder="0" style="border:0"></iframe>
                    <!-- Mapa -->							
				</div>
			</div>
		</div>
	</div>

	{# Footer #}
		{# se hace un include del archivo donde se encuentra el footer #}	
		{% include 'RutasBundle:Base:footer.html.twig' %} 	
	{# Footer #}

{% endblock %}

