{# Se extiende de la plantilla base de nuestra aplicacion ubicada en el bundle Rutas #}
{% extends 'RutasBundle:Base:header.html.twig' %}

{# Se edita el bloque del título de la plantilla base #}
{% block title %}
    Rutica - Rutas Sugeridas
{% endblock %}

{# Se edita el body manteniendo la estructura heredada #}
{% block body %}

  {{ parent() }}{# conserva lo que se heredó #}

    {# Título de página #} 
        <div class="section section-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Rutas sugeridas</h1>
                    </div>
                </div>
            </div>
        </div>
    {# Título de página #} 

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                    <div class="section-title">
                         <h2><i class="glyphicon glyphicon-map-marker"></i>Ve las rutas que hemos elegido para ti</h2>
                        <br>
                    </div>

                    <ul>
                        <li>Selecciona el nombre de la ruta </li>
                        <li>Da click en el botón de ver detalles del sitio </li>
                        <li>Selecciona el botón de ver ruta </li>                       
                        <li> Listo ya tienes tu ruta, ya puedes empezar a turistear </li>
                    </ul>
                </div>

                <div class="col-sm-4">

                    <br>
                    <br>
                    <div class="section-title" >
                        <h3>Estas rutas te sugerimos para vacacionar!!!</h3>
                        <br>
                    </div>

                    {# Formulario de las preferencias de la ruta #}
                        <form class="form-horizontal" action="{{ path('rutas_sugeridas') }}" method="post">

                            {# Select de Provincia #}
                            <div class="form-group">
                                <label style="text-align: center;" for="nombre" class="col-sm-4 control-label">Nombre:</label>
                                <div class="col-sm-8">
                                    <select id="nombre" name="nombre" class="form-control" onchange="test();">

                                        {% for sugerida in sugeridas %}
                                            <option value="{{ sugerida.id }}">{{ sugerida.nombre }}</option>
                                        {% endfor %}                   
                                                   
                                    </select>
                                </div>
                            </div>
                            {# Select de Provincia #}

                            {# Botón de Buscar #}
                            <div class="form-group">
                                <label for="buscar" class="col-sm-1 control-label"></label>
                                <div class"col-sm-6">                 
                                    <input value ="Buscar ruta" type="submit" class="btn btn-primary" data-toggle="modal"></input>
                                </div>
                            </div>              
                            {# Botón de Buscar #}

                        </form> 
                    {# Formulario de las preferencias de la ruta #} 

                </div>
            </div>

            <hr>
            {% if sitios is defined %}
            <div class="row">

                <div class="col-md-8" id="main-map" style="width: 600px; height: 300px"></div>

                <div class="col-md-4">

                    <div class="section-title" >
                        <h3>Información de la ruta</h3>
                        <br>
                    </div>            

                    {# Inicio #}
                    <div class="form-group">
                        <label style="text-align: center;" for="inicio" class="col-sm-4 control-label">Inicio:</label>
                        <div class="col-sm-6">
                            <input  style="width: 320px" type="text" id = "inicio" name="inicio" value="{{ sitios|first.nombre }}" disabled>
                        </div>                    
                    </div>
                    {# Inicio #}

                    {# Waypoints #}
                    <div class="form-group">
                        <label style="text-align: center;" for="sitios" class="col-sm-4 control-label">Sitios:</label>        
                        <div class="col-sm-6">
                            <select multiple style="width: 320px" id="sitios" name="sitios" class="form-control" disabled>
                            {% for sitio in sitios %}
                                {% if not (loop.first) and not (loop.last) %}
                                    <option value="{{ sitio.nombre }}">{{ sitio.nombre }}</option>
                                {% endif %}                                              
                            {% endfor %}                                          
                            </select>                      
                        </div>                    
                    </div>
                    {# Waypoints #}

                    {# Final #}
                    <div class="form-group">
                    <label style="text-align: center;" for="final" class="col-sm-4 control-label">Final:</label>
                        <div class="col-sm-6">                      
                            <input  style="width: 320px" type="text" id = "final" name="final" value="{{ sitios|last.nombre }}" disabled>
                        </div>                    
                    </div>
                    {# Final #}

                    {# Botón de Buscar #}
                                    
                    <input value = "Ver ruta" type="submit" class="btn btn-primary" data-toggle="modal" onclick="showRoute();"></input>
                                    
                    {# Botón de Buscar #}  

                </div>                

            </div>
            {% endif %}            

        </div>
    </div>

    {# Footer #}
        {# se hace un include del archivo donde se encuentra el footer #}   
        {% include 'RutasBundle:Base:footer.html.twig' %}   
    {# Footer #}

{% endblock %}

